.cat-view {
    position: relative;
}
.cat-view .cat-view-header {
    background-color: #FAFAFA;
    line-height: 38px;
    padding-left: 15px;
    z-index: 1;
}
.cat-view .MuiTreeItem-label {
    line-height: 32px;
}
.cat-view > ul {
    height: calc(100% - 40px);
    width: 100%;
    overflow: auto;
    position: absolute;
}
.cat-view ul li > div {
    line-height: 32px;
    min-height: 32px;
    border-bottom: 1px solid white;
}
.cat-view .MuiTreeItem-group {
    margin-left: 0;
    padding-left: 17px;
}